html {
  margin: 10;
  padding: 10;
}
body{
  margin: 7px auto 7px auto;
  width: 40%;
  text-align: left;
  font-style: oblique;
  font-family: "courier", monospace;
}
canvas {
    margin: auto;
    top: 17;
    left: 10;
    position: absolute;
  display: block;
  border: 7px solid red;
  z-index: -1
}
